.attendance-selectors{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-debts{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.no-debts-title{
  margin-right: 30px;
  font-size: 40px;
  font-weight: 600;
}


@media screen  and (max-width: 520px) {
  .no-debts{
    margin-top: 30px;
  }
}