.error-modal {
  padding: 60px 20px;
  font-size: 18px;
  background-color: #F5F5F5;
  color: #434C63;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 800;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
}

.error-modal.visible {
  opacity: 1;
}

.error-modal.hidden {
  opacity: 0;
  z-index: -20;
}